:root {
    --title-font-family: 'Rubik', sans-serif;
    --text-font-family: 'Open Sans', sans-serif;
    --strong-color: #099d8d;
    --light-color: #14d9c4;
    --text-color: #54585a;
}

.header {
    font-family: var(--title-font-family);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    opacity: 80%;

}

.title {
    box-sizing: border-box;
    background-color: var(--strong-color);
    width: 100%;
    height: 60px;
    padding: 20px 80px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.nav_menu {
    box-sizing: border-box;
    background-color: var(--light-color);
    padding: 8px 17px 7px 16px;
    width: 100%;
    height: 45px;
    align-items: center;
    display: grid;
}

.ul{
    display: flex;
    justify-content: space-around;
}


.section-1 {
    padding: 30px 15 px;
    background-color: white;
}

.hero {
    width: 100%;
    height: 421px;
}

.mood {
    position: relative;
}

.caption {
    position: absolute;
    bottom: -15px;
    background-color: white;
    margin: 15px;
    padding: 15px;
}

.team {
    color: var(--light-color);
    font-family: var(--title-font-family);
    font-size: 24px;
    text-align: center;
    padding-top: 30px;
}

.diamond {
  background-color:white;  
  height: 30px;
  width: 30px;
  position: absolute;
  transform: rotate(45deg);
}
.description {
    font-family: var(--text-font-family);
    font-size: 16px;
    color: #54585a;
    text-align: center;
    padding: 15px 15px 30px 15px;
    position: relative;
}

.section-2 {
    display: block;
    background-color: #b8b8b9;
    padding: 30px 15px 45px 15px;
}

.title-3 {
    color: var(--strong-color);
    font-family: var(-title-font-family);
    text-align: center;
    font-size: 22px;
    padding: 30px 15px 0px 15px;
}

.paragraph {
    font-family: var(--text-font-family);
    font-size: 16px;
    color: #54585a;
    text-align: center;
    padding: 15px 15px 30px 15px;
}

.about-us {
    text-align: center;
    height: 100%;
    padding: 30px 15px 30px 15px;
}

.about-us-title {
    color: var(--strong-color);
    font-family: var(--title-font-family);
    font-size: 24px;
}

.member-img {
    object-fit: cover;
    width: 180px;
    height: 180px;
    border: 5px solid rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    margin: 30px 0 15px 0;
}

.member-name {
    font-family: var(--text-font-family);
    font-size: 20px;
    color: black;
}

.member-description {
    font-family: var(--text-font-family);
    color: var(--text-color);
    font-size: 16px;
    margin: 15px 0 15px 0;
    line-height: 24px;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.social-media-link {
    color: var(--strong-color);
}

.social-media-logo::after {
    content: "·";
    margin: 5px;
}

@media (min-width: 768px) {
    .about-us {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 45px 15px 60px 15px;
        }
    
    .member {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    
    .member-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            margin: 45px 0 15px 30px;
        }
    
    .member-description {
            margin-bottom: 15px;
        }
    
    .member-img {
            object-fit: cover;
            width: 205px;
            height: 205px;
        }
    
    .member-reverse {
            flex-direction: row-reverse;
        }
    
    .member-content-reverse {
            flex-direction: column;
            align-items: flex-end;
            text-align: right;
            margin: 45px 30px 15px 0;
        }

}

@media (min-width: 1200px) {
    .member-img {
            object-fit: cover;
            width: 278px;
            height: 278px;
        }
    
    .member-content {
            margin: 45px 0 15px 45px;
        }
    
    .member-content-reverse {
            margin: 45px 45px 15px 0;
        }
    
    .member-description {
            max-width: 439px;
        }
}
