<footer class="footer">
  <section class="footer__copy"> Brújula &copy; 2023 </section>
  <nav class="footer__nav">
    <ul class="footer__nav--list">
      <li> <a class="footer__link--none" href="#section-1" title="Equipo">EQUIPO</a></li>
      <li> <a class="footer__link--none" href="#about-us" title="Quienes somos">QUIENES SOMOS</a></li>
      <li> <a class="footer__link--none" href="#" title="Contacto">CONTACTO</a></li>
    </ul>
  </nav>
  <section class="footer__logo"> <a href="https://adalab.es/">
      <img class="footer__logo--img" src="./assets/images/logo-adalab.png" alt="logo adalab">
    </a></section>
</footer>
