<main class="main__contact" id="main__contact">
    <h1 class="form__title">CONTACTO</h1>
    <p class="form__text">Para contactar con nosotras solo tienes que rellenar este formulario y nos pondremos en contacto contigo lo antes posible.</p>
    <small class="form__small">Todos los campos marcados con <span class="asterisk">*</span> son obligatorios</small>

    <form class="main__form" method="get" action="https://dev.adalab.es/api/form">
        <label class="input__label" for="nombre">
            Nombre completo 
            <span class="asterisk">*</span>
            <input class="input__placeholder" id="nombre" name="nombre" type="text" placeholder="Nombre..." required />
        </label>
        <fieldset class="fieldset">
        <label class="input__label" for="email">
            Email 
            <span class="asterisk">*</span>
            <input class="input__placeholder" id="email" name="email" type="email" value="nombre.apellidos@mail.com" required />
        </label>
        <label class="input__label" for="tlf">
            Teléfono
            <input class="input__placeholder" id="tlf" name="tlf" type="tel" placeholder="Ej. 123456789" />
        </label>
        </fieldset>
        <label class="input__label" for="comments">
            Mensaje 
            <span class="asterisk">*</span>
        </label>
        <textarea rows="6" class="input__placeholder" id="comments" name="comments" placeholder="¿Qué necesitas?"></textarea>
        <input class="button" type="submit" value="Enviar" />
    </form>
</main>