<section class="section-1" id="section-1">
    <h2 class="team">equipo</h2>
    <div class="description">
        <p>
            <div>¡Bienvenidos a nuestra web!</div>
            <div>Somos cuatro chicas que por casualidades del destino hemos acabado juntas en este Bootcamp. Todas venimos
            de sectores muy diferentes: educación, periodismo, diseño de joyas... pero coincidimos en el deseo de
            cambiar y conseguir mejorar nuestra calidad de vida. </div>
        </p>
        <br>
        <p>
            Nos apasiona el sector tecnológico y hemos llegado con ganas de comernos el mundo. ¡Que se preparen todos!
            Juntas formamos un equipo excepcional, por eso nos llamamos Brújula. Porque con nuestra forma de ver las
            cosas, cada una de manera diferente, hacemos un combo perfecto. Porque al igual que los polos cardinales de
            la brújula somos cada una de una parte de España y eso nos hace más fuertes.
        </p>
    </div>
</section>