<section class="section-2">
    <div class="column">
        <h2 class="title-3">Fortalezas</h2>
        <p class="paragraph">
            Al venir todas de diferentes sectores aportamos una visión diferente del producto, haciendo que la versión
            final sea lo más perfecta posible. Apostamos por la comunicación como la herramienta fundamental de trabajo y eso
            como equipo nos hace fuertes.
        </p>
    </div>
    <div class="column">
        <h2 class="title-3"> Debilidades</h2>
        <p class="paragraph">
            Somos un equipo junior que aun está aprendiendo, aunque eso no significa que no podamos con todo y más. Nuestras ganas y motivación por aprender
            suplen nuestra falta de experiencia.
        </p>
    </div>
</section>