<section class="about-us" id="about-us">
    <h2 class="about-us-title">QUIÉNES SOMOS</h2>
    <include src="./section-3-member.html" img="./assets/images/foto-maria.jpeg" name="María Araujo"
        description="Profesora en aprendizaje continuo con ganas de renovarse e iniciarse en el mundo de la programación. Enamorada de mi familia, los cambios y las nuevas experiencias. Mis años en el mundo comercial me proporcionan experiencia en dinámicas de grupos y trabajo en equipo."
        linkTwitter="https://twitter.com/?lang=es" brandTwitter="fa-brands fa-twitter"
        linkLinkedin="https://www.linkedin.com/in/maria-araujo-gil84/" brandLinkedin="fa-brands fa-linkedin"
        linkGithub="https://github.com/maragil" brandGithub="fa-brands fa-github-alt"
        linkMail="mailto:araujomaria84@gmail.com" brandMail="fa-solid fa-envelope">
    </include>
    <include src="./section-3-member-reverse.html" img="./assets/images/foto-laura.jpg" name="Laura Pascual"
        description="Periodista que ha ejercido de todo menos de lo `suyo´. En busca de nuevas portunidades. Sigo de cerca la moda, tendencias, música y todo lo relacionado con la cultura. Comprometida, creativa y proactiva. Sin miedo al trabajo, con ganas de encontrar en la programación un lugar en el que realizarme y crecer profesionalmente."
        linkTwitter="https://twitter.com/?lang=es" brandTwitter="fa-brands fa-twitter"
        linkLinkedin="https://www.linkedin.com/in/laura-pascual-mateo/" brandLinkedin="fa-brands fa-linkedin"
        linkGithub="https://github.com/laurapascual" brandGithub="fa-brands fa-github-alt"
        linkMail="mailto:laurapascualmateo@gmail.com" brandMail="fa-solid fa-envelope">
    </include>
    <include src="./section-3-member.html" img="./assets/images/foto-natalia.jpg" name="Natalia Puerta"
        description="Aunque soy profesora y correctora de textos siempre me ha interesado el mundo de la programación y conocer cómo funciona desde dentro. Por eso ahora `casi´ soy desarrolladora Front-End. ¡Me encantan los retos y este es uno de los más grandes a los que me voy a enfrentar en mi vida! Además de eso me encanta viajar, leer. los animales y aprender cosas nuevas.¡Esto último es ideal para ser programadora!"
        linkTwitter="https://twitter.com/?lang=es" brandTwitter="fa-brands fa-twitter"
        linkLinkedin="https://www.linkedin.com/in/nataliapuerta/" brandLinkedin="fa-brands fa-linkedin"
        linkGithub="https://github.com/NataliaPuertac" brandGithub="fa-brands fa-github-alt"
        linkMail="mailto:nataliapuertac@gmail.com" brandMail="fa-solid fa-envelope">
    </include>
    <include src="./section-3-member-reverse.html" img="./assets/images/foto-vero.JPG" name="Verónica Velasco"
        description="Diseñadora de joyas con ganas de comerse el mundo. Amante de la belleza y de las nuevas experiencias. Fan de los cambios y curiosa incondicional. Ahora afronto esta nueva aventura en programación con muchísima ilusión y con ganas de incorporarlo a mi background profesional."
        linkTwitter="https://twitter.com/?lang=es" brandTwitter="fa-brands fa-twitter"
        linkLinkedin="https://www.linkedin.com/" brandLinkedin="fa-brands fa-linkedin"
        linkGithub="https://github.com/veronicavjones" brandGithub="fa-brands fa-github-alt"
        linkMail="mailto:veronicavjones@hotmail.com" brandMail="fa-solid fa-envelope">
    </include>
</section>