* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main__contact {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 15px 60px 15px;
}
.form__hero {
    height: 30%;
    background-size: cover;
    width: 100%;
}

.form__title {
   color:#099d8d;
   font-family: 'Rubik', sans-serif;
   font-size: 24px;
   margin-bottom: 15px;
}
.form__text {
    font-family: 'Open Sans', sans-serif;
    color: #54585a;
    line-height: 24px;
}
.form__small {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #54585a;
    line-height: 24px;
    margin-bottom: 58px;
    margin-top: 30px;
}
.main__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 39px;
}
.input__label {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #54585a;
    display: flex;
    flex-direction: column;
    gap: 7px;
    text-align: left;
}
.input__placeholder {
    width: 290px;
    height: 45px;
    &--textarea {
        height: 105px;
        width: 290px;
    }
}
.button {
    width: 290px;
    height: 45px;
    color: white;
    background-color: #099d8d;
    border: #099d8d;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 16px;
}