.section-1 {
    padding: 30px 15px;
    background-color: white;
        @media (min-width: 768px) {
            padding: 45px 45px 30px 45px;
            }
        @media (min-width: 1200px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 601px;
            margin: auto;
            }
}

.team {
    color: var(--light-color);
    font-family: var(--title-font-family);
    font-size: 24px;
    text-align: center;
    padding-top: 30px;
    text-transform: uppercase;
}

.description {
    font-family: var(--text-font-family);
    font-size: 16px;
    color: #54585a;
    text-align: center;
    padding: 15px 15px 30px 15px;
    position: relative;
    line-height: 24px;
}