.section-2 {
    display: block;
    background-color: #f1f1f1;
    padding: 30px 15px 45px 15px;
        @media (min-width: 768px) {
                flex-direction: row;
                display: flex;
                column-gap: 30px;
                padding: 45px 30px 60px 30px;
            }
        @media (min-width: 1200px) {
                column-gap: 45px;
            }
}

.title-3 {
    color: $strong_color;
    font-family: $title_font;
    text-align: center;
    font-size: 22px;
    padding: 30px 15px 0px 15px;
}

.paragraph {
    font-family: $text_font;
    font-size: 16px;
    color: $text_color;
    text-align: center;
    padding: 15px 15px 30px 15px;
    line-height: 24px;
}

.column {
        @media (min-width: 768px) {
             width: 50%;
        }
}